@model WebGames.Models.ViewModels.UserScoreInfo
@{
    ViewBag.Title = "Τα Σκορ σου";
}

<h2>@ViewBag.Title</h2>

<div>

    <table class="table table-striped table-hover" id="gamescores">

        <thead>
            <tr>
                <th>Παιχνίδι</th>
                <th>Σκορ</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var game in Model.GameScores)
            {
                <tr>
                    <td>@game.GameName</td>
                    <td>@game.Score</td>
                </tr>
            }

        </tbody>
    </table>

    @if ( @Model.GroupScore != null)
    {

        <span id="teamMembers" style="color: white;font-size: 20px;">
            Η ομάδα σου είναι @( string.Join(", ", Model.GroupScore.UsersInGroup.Where(u => Model.UserId != u.UserId).Select(u=> u.User_Name)) )
        </span>

        <br />
        <br />

        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th>Ομαδικό Σκορ</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>@Model.GroupScore.TotalScore</td>
                </tr>

            </tbody>
        </table>
    }

</div>
