<div>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Games/css/screens.css">

    <div class="wrapper">
        <div class="screen screen1">


            @*<div class="list-group">
                    <a href="@Url.Action("Mastermind", "Demo")" class="list-group-item">Mastermind</a>
                    <a href="@Url.Action("Whackamole", "Demo")" class="list-group-item">Whackamole</a>
                    <a href="@Url.Action("Escape_1", "Demo")" class="list-group-item">Escape_1</a>
                    <a href="@Url.Action("Escape_2", "Demo")" class="list-group-item">Escape_2</a>
                    <a href="@Url.Action("Escape_3", "Demo")" class="list-group-item">Escape_3</a>
                    <a href="@Url.Action("Juggler", "Demo")" class="list-group-item">Juggler</a>
                    <a href="@Url.Action("Adespotabalakia", "Demo")" class="list-group-item">Adespotabalakia</a>
                    <a href="@Url.Action("Questions", "Demo")" class="list-group-item">Questions</a>
                </div>*@

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Mastermind", "Demo")" role="button"></a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Questions", "Demo")" role="button">Questions</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Whackamole", "Demo")" role="button">Whackamole</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Escape_1", "Demo")" role="button">Escape_1</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Escape_2", "Demo")" role="button">Escape_2</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Escape_3", "Demo")" role="button">Escape_3</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Juggler", "Demo")" role="button">Juggler</a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Adespotabalakia", "Demo")" role="button">Adespotabalakia</a>
                </div>
            </div>

        </div>
    </div>
</div>
